<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- CSSs -->

    <link rel="stylesheet" href="/static/css/navbarCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/back_to_topCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/footerCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/error_handlerCSS.css" type="text/css">
    <title>
        <% if (message == "unknown-site"){ %>
            Modiser: Unknown Site
            <%  } else if (message == "access-denied"){ %>
                Modiser: Access Denied
                <% } %>
    </title>
</head>

<body>
    <%- include('navbar') %>
        <a id="button"></a>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="error_img" src="/static/error-icon.png">
                    </div>
                    <div class="col-md-6">
                        <h1 class="font-weight-bold">
                            Error!
                        </h1>
                        <p>
                            <% if (message == "unknown-site"){ %>
                                The page you are attempting to access does not exist or has been moved.
                                <%  } else if (message == "access-denied"){ %>
                                    Access denied.
                                    <% } %>
                        </p>
                        <p>
                            Try going back to our homepage by clicking the button below.
                        </p>
                        <br>
                        <button class="btn btn-success text-center" style="display:block; margin:auto;"><a href="/">Homepage</a></button>

                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') %>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/static/js/back_to_topJS.js"></script>
            <script src="/static/js/navbarJS.js"></script>
</body>

</html>