<footer class="jumbotron" id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5>MODISER</h5>
                <ul>
                    <li>
                        <p style="text-align:justify;"><q>Newton's 3rd law... The only way humans have figured out how to move forward is to leave something behind.</q></p>
                    </li>
                    <li><b><p style="text-align:right;">Cooper</p></b></li>
                </ul>
            </div>
            <div class="col-sm-1 myCols"></div>
            <div class="col-sm-4 myCols">
                <h4>Ho Chi Minh Office</h4>
                <ul>
                    <li><i class="fa fa-map-marker"></i> 268 Ly Thuong Kiet, District 10, Ho Chi Minh</li>
                    <li><i class="fa fa-phone"></i> 0909090909</li>
                    <li><i class="fa fa-envelope-o"></i> cutiakg123@gmail.com</li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h4>Ha Noi Office</h4>
                <ul>
                    <li><i class="fa fa-map-marker"></i> 268 Ly Thuong Kiet, District 10, Ho Chi Minh</li>
                    <li><i class="fa fa-phone"></i> 0909090909</li>
                    <li><i class="fa fa-envelope-o"></i> cutiakg123@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
    <hr style="border:none; border-bottom:0.5px solid azure; width:50%;">
    <div class="footer-copyright">
        <p>© 2019 Modiser. All Rights Reserved. </p>
    </div>
</footer>