<footer class="jumbotron" id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5>MODISER</h5>
                <ul>
                    <li>
                        <p style="text-align:justify;"><q>Modern Distribution Service</q></p>
                    </li>
                    <!-- <li><b><p style="text-align:right;">Cooper</p></b></li> -->
                </ul>
            </div>
            <div class="col-sm-1 myCols"></div>
            <div class="col-sm-4 myCols">
                <h4>Ho Chi Minh Office</h4>
                <ul>
                    <li><i class="fa fa-map-marker"></i> address</li>
                    <li><i class="fa fa-phone"></i> phone number</li>
                    <li><i class="fa fa-envelope-o"></i> email</li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h4>Ha Noi Office</h4>
                <ul>
                    <li><i class="fa fa-map-marker"></i> address</li>
                    <li><i class="fa fa-phone"></i> phone number</li>
                    <li><i class="fa fa-envelope-o"></i> email</li>
                </ul>
            </div>
        </div>
    </div>
    <hr style="border:none; border-bottom:0.5px solid azure; width:50%;">
    <div class="footer-copyright">
        <p>© 2019 Modiser. All Rights Reserved. </p>
    </div>
</footer>