<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- CSSs -->
    <link rel="stylesheet" href="/static/css/newsCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/navbarCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/back_to_topCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/footerCSS.css" type="text/css">

    <title>News</title>
</head>

<body>
    <%- include('navbar') %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <hr>
                <p style="font-weight: 500; font-size: 1.25em;">
                    <a href="/">Modiser</a> >
                    <a href="/news">News</a>
                </p>
                <hr>
                <a id='button'></a>
                <div class="col-md-12 news_section">
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-2">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                </div>
                <hr id="waypoint">
            </div>
        </div>
        <%- include('footer') %>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
            <script src="/static/js/back_to_topJS.js"></script>
            <script src="/static/js/navbarJS.js"></script>

            <script>
                function show_item(item) {
                    var news = `<div class="card m-2 shadow rounded" id="` + item._id + `">
                                <div class="news_wrapper clearfix p-2">
                                    <div class="row">
                                        <div class="col-md-4 news_image">
                                            <a href="/news/` + item.query + `">               
                                                <img class="img-fluid img-thumbnail center" src="` + item.thumbnail_path + `">
                                            </a>
                                        </div>
                                        <div class="news_content col-md-8">
                                            <div class="row">
                                                <h3><a class="ml-3 text-truncate news_link" href="/news/` + item.query + `">` + item.title + `</a></h3>
                                            </div>
                                            <hr class="my-2">
                                            <span class="text-muted">Posted on ` + item.upload_date + `</span>                                            
                                            <p class="lead text-truncate">
                                                    ` + item.summary.replace(/\n/g, "<br />") + `
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    $('.news_section').append(news).hide().fadeIn(500);
                };

                var news_lastest_id = Number.MAX_VALUE;
                var had_news = -1;

                function get_and_show_item() {
                    $.get("/get-news/f-id=" + news_lastest_id, function(data, status) {
                        if (data.length != 0)
                            data.forEach(element => {
                                show_item(element);
                                news_lastest_id = element._id;
                            });

                        if (data.length < 5) news_lastest_id = -1;
                    });
                }

                $(document).ready(function() {
                    $('.lds-roller').show();
                    get_and_show_item();
                    setTimeout(function() {
                        $('.lds-roller').hide();
                    }, 500)
                    had_news = 0;
                })

                $(window).on('scroll', function() {
                    if (news_lastest_id != -1 && had_news != -1) {
                        if ($('#waypoint').is(":visible")) {
                            $('.lds-roller').show();
                            get_and_show_item();
                            setTimeout(function() {
                                $('.lds-roller').hide()
                            }, 1000);
                        }
                    }
                })
            </script>
</body>

</html>