<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- CSSs -->
    <link rel="stylesheet" href="/static/css/productCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/navbarCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/back_to_topCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/footerCSS.css" type="text/css">

    <title>Products</title>
</head>

<body>
    <%- include('navbar') %>
        <a id='button'></a>
        <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0;">
            <div class="container">
                <hr>
                <p style="font-weight: 500; font-size: 1.25em;">
                    <a href="/">Modiser</a> >
                    <a href="/products">Products</a>
                </p>
                <hr>
                <div id="view_section" style="padding-top: 1em">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/static/Tamarine_Paste_900x900.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold"><a href="#">Product Title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text text-right"><a href="#"><small class="text-muted">Read More >></small></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/static/Tamarine_Paste_900x900.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold"><a href="#">Product Title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text text-right"><a href="#"><small class="text-muted">Read More >></small></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/static/Tamarine_Paste_900x900.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold"><a href="#">Product Title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text text-right"><a href="#"><small class="text-muted">Read More >></small></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/static/Tamarine_Paste_900x900.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold"><a href="#">Product Title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text text-right"><a href="#"><small class="text-muted">Read More >></small></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/static/Tamarine_Paste_900x900.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold"><a href="#">Product Title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text text-right"><a href="#"><small class="text-muted">Read More >></small></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/static/Tamarine_Paste_900x900.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold"><a href="#">Product Title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text text-right"><a href="#"><small class="text-muted">Read More >></small></a></p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <%- include('footer') %>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/static/js/productJS.js"></script>
            <script src="/static/js/back_to_topJS.js"></script>
            <script src="/static/js/navbarJS.js"></script>
</body>

</html>