@media (max-width: 767px) {
    #scrollspy {
        display: none;
    }
}

.img-fluid {
    min-width: 200px;
    min-height: 200px;
    max-height: 225px;
}

.container-fluid {
    max-width: 1170px;
}