body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

.jumbotron-fluid {
    margin-bottom: 0;
}

.error_img {
    display: block;
    margin: auto;
    width: 50%;
    height: 100%;
}

button>a,
a:hover {
    color: white;
}