body {
    font-family: "Josefin Sans", sans-serif;
}

.list-group-item,
.nav-link,
a,
h3 {
    color: #1E3D58 !important;
}

.readmore {
    color: #E8EEF1 !important;
}

.masthead {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner-2>.carousel-item>img {
    display: block;
    line-height: 1;
    margin: auto;
    width: 100%;
}

section {
    margin-bottom: 0px !important;
}

hr {
    margin: auto;
}

.list-group {
    margin-left: -4%;
    width: 15%;
    z-index: 1;
}

.list-group>a:hover {
    text-decoration: none;
}

.list-group>a:focus {
    outline: 0 !important;
}

.heading:before,
.heading:after,
.heading-ie span.after,
.heading-ie span.before {
    content: '';
    flex-grow: 1;
    margin: 0px 12px;
    background: linear-gradient(to right, black, black);
    background-size: 100% 1px;
    background-position: 0% 50%;
    background-repeat: repeat-x;
}

.heading_2:before,
.heading_2:after {
    content: '';
    flex-grow: 1;
    margin: 0px 30px;
    background: linear-gradient(to right, black, black);
    background-size: 100% 1px;
    background-position: 0% 80%;
    background-repeat: repeat-x;
}

.col-md-4 {
    padding: 25px;
}


/* 
h5>a,
a {
    text-decoration: none;
    color: black;
} */

.btn-readmore {
    border: none;
    background-color: #913135;
}

h5>a:hover,
h5>a:focus,
button>a:focus,
button>a:hover {
    text-decoration: none;
}

@media (max-width: 767px) {
    h3,
    h4 {
        display: flex;
        flex: 1;
        margin: 20px auto;
        line-height: 1.5em;
        font-size: 30px;
    }
    .masthead {
        height: 300px;
    }
    .carousel-inner-2>.carousel-item>img {
        height: 300px;
    }
}

@media (min-width: 768px) {
    h3 {
        display: flex;
        flex: 1;
        width: 50%;
        margin: 20px auto;
        line-height: 1.5em;
        font-size: 36px;
    }
    h4 {
        display: flex;
        flex: 1;
        margin-top: 5%;
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .masthead {
        height: 500px;
    }
    .carousel-inner-2>.carousel-item>img {
        height: 500px;
    }
}